*~
*.swp
*.pyc
.DS_Store
.Spotlight-V100
.Trashes
.svn
.cvs
.travis
.git*
.*.yml
.idea
.styleci.yml
.gitlab-ci.yml
.editorconfig
.dockerignore
._*
.rnd
hosts
env.*
docker-*
Dockerfile*
Desktop.ini
Thumbs.db
CODE_OF_CONDUCT.md
app/vendor/**/test
app/vendor/**/tests
README.md